@font-face {
	font-family: "Caveat";
	src: url("./Caveat-Regular.ttf");
}

@font-face {
	font-family: "Pangolin";
	src: url("./Pangolin-Regular.ttf");
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Pangolin";
	font-size: 14pt;
	background-color: #3399ff;
	/* color: white; */
}

/* #background {
	background-image: url("https://image.freepik.com/free-vector/abstract-ink-colourful-background_82984-366.jpg");
	transform: scale(1.3);
	background-size: cover;
	background-position: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: blur(50px) brightness(0.9);
} */

#canvas {
	position: fixed;
	left: 50%;
	top: 50%;
}

#center {
	text-align: center;
	opacity: 0.8;
}

#title {
	font-family: "Caveat", cursive;
	font-size: 70pt;
}

p {
	text-transform: uppercase;
	opacity: 0.8;
	margin: 0px;
}

#links {
	margin-top: 50px;
}

.link {
	display: inline-block;
	text-transform: uppercase;
	margin: 0 30px 0 30px;
	position: relative;
	font-size: 16pt;
	transition: transform 200ms;
}

.link:hover {
	transform: scale(1.3);
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

.project {
	width: 350px;
	text-align: left;
}

.project img {
	width: 100%;
}
